<app-banner></app-banner>
<app-container>
    <app-form-busca></app-form-busca>
    <h1>Promoções</h1>
    <div class="cards-wrap">
        <app-promocoes></app-promocoes>
    </div>
    <h1>Depoimentos</h1>
    <div class="depoimentos-wrap">
        <app-card-depoimento class="card-depoimento"></app-card-depoimento>
        <app-card-depoimento class="card-depoimento"></app-card-depoimento>
        <app-card-depoimento class="card-depoimento"></app-card-depoimento>
       
    </div>
</app-container>